.menu_page {
  background: black;
  height: 100vh;
  position: relative;
  .header {
    display: flex;
    padding: 30px 80px;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      padding: 20px;
    }
    &__logo {
      width: 166px;
      @media screen and (max-width: 768px) {
        width: 100px;
      }
    }
    &__burger {
    &:hover {
      cursor: pointer;
    }
      @media screen and (max-width: 768px) {
        width: 30px;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 30%;
    div {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 42px;
      line-height: 51px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-feature-settings: 'kern' off;
      color: #BCBCBC;
      transition: all ease .5s;
      &:hover {
        cursor: pointer;
        color: antiquewhite;
      }
      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }
    @media screen and (max-width: 768px) {
      top:20%;
    }
    @media screen and (max-height: 650px) {
      gap: 10px;
      margin-bottom: 20px;
    }
    @media screen and (max-height: 500px) {
      gap: 0px;
      margin-bottom: 20px;
    }
  }
  .footer {
    position: absolute;
    margin-bottom: 40px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    color: #BCBCBC;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
    width: 89%;
    div {
      font-size: 16px;
      @media screen and (max-width: 768px) {
        font-size: 12px
      }
    }
    &__onepix {
      margin-left: 120px;
      text-transform: uppercase;
      color: #BCBCBC;
    }
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 20px;
      gap: 20px;
      &__rights {
        order: 0;
        flex: 0 0 50%;
        text-align: left;
      }
      &__year {
        order: 1;
      }
      &__onepix {
        order: 2;
        margin-left: 0;
      }
    }
  }
}