.intro_page {
  height: 100vh;
  position: relative;
  .title {
    position: absolute;
    top: 30%;
    transform: translateX(-50%);
    left: 50%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-feature-settings: 'kern' off;
    color: #BCBCBC;
    transition: all ease .5s;
    &:hover {
      color: antiquewhite;
    }
    @media screen and (max-width: 768px) {
      font-size: 30px;
      top: 190px;
      text-align: center;
    }
  }
  &__burger {
    position: absolute;
    top: 52px;
    right: 82px;
    width: 50px;
    &:hover {
      cursor: pointer;
    }
    @media screen and (max-width: 768px) {
      top: 20px;
      right: 20px;
      width: 30px;
    }
  }
  &__logo {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    @media screen and (max-width: 768px) {
      width: 200px;
    }
  }
  &__scroll {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
  }
}